@media screen and (max-width: 900px) {
    body{
        margin: 50px 80px;
    }

    .new-news-element:nth-child(4){
        display: none;
    }

    .new-news-element:nth-child(2){
        border-bottom: none;
        padding-bottom: 0;
    }
}